*{
    margin: 0;
    padding: 0;
}
.mainbody {
 background-image: 
    url('img3.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    align-content: center;
    align-items: center;
    text-align: center;
    }

.register-heading {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    color: #53010f;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    align-items: center;
    text-align: center;
    margin-bottom: 2em;
    padding: 0.5em;
}

.registerbox {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.6em;
    font-weight: bold;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    border-inline: solid #eae6e6;
    border-radius: 10px;
    padding: 1em;
    margin: 2em;
    width: 150px;
    max-width: 150px;
    box-shadow: 0 15px 20px rgba(0.5,0,0,0.7);
    animation: fadeIn 3.5s cubic-bezier(0.23, 1, 0.50, 1) both;
    transition: all 0.5s ease-in-out;
}

.register-icon {
    font-size: 2.4em;
    color: #53010f;
}

.registerbox a {
    text-decoration: none;
    color: inherit;
}

.registerbox:hover {
    background: rgb(157, 140, 88);
    font-size: 0.7em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(0%, 0%) scale(0.1);
    }
    100% {
        opacity: 1;
        transform: translate(0%, 0%) scale(1);
    }
}

@media (max-width: 768px) {
  .mainbody {
    text-align: center;
    padding: 1em;
    background-size: cover;
    background-position: calc(100% + 150px) center;
  }


/* Responsive Part 

@media (max-width: 768px) {
    .register-heading {
        font-size: 5vw;
        top: 5vh;
        
    }

    .registerbox {
        font-size: 1em;
        padding: 1em;
    }

    .register-link {
        max-width: 90%;
        max-width: 200px;
        margin: 5px, 0, 5px, 0;
    }
}


@media (max-width: 439px) {
    .register-heading {
        font-size: 5vw;
        top: 0vh;
    }

    .registerbox {
        font-size: 0.9em;
        padding: 0.8em;
    }

    .register-icon {
        font-size: 1.2em;
    }

    .register-link {
        max-width: 95%;
        max-width: 180px;
        margin: 5px, 0, 5px, 0;
        bottom: 50px;
    }
}

*/
